{% extends "layout.html" %}

{% block body %}

<div class="block-main-div">

    <h1 class="block-title">About this project.</h1>
    <p style="font-size: 18px; text-align: center;">
        <code>All resources are provided by <a href="https://stackoverflow.com/" target="_blank" class="response-a">stackoverflow</a></code>
    </p>

    <div style="margin-top: 15px;">
        <div class="response-div">
            <ul class="response-ul">

                <li style="color: rgb(255, 255, 255); font-size: 20px;">
                    Production server framework still in development. Stay tuned!
                </li>
                <li style="color: #ff9900; font-size: 20px; padding-top: 25px; padding-bottom: 8px;">
                    <b><code>How to run it locally:</code></b>
                </li>
                <li class="response-li">
                    <code>Read the <a href="https://github.com/danmxli/codeBuddy" target="_blank" class="response-a">repository</a> and clone it to your machine</code>
                </li>
                <li class="response-li">
                    <code>Create a python <a href="https://docs.python.org/3/library/venv.html" target="_blank" class="response-a">venv</a> and activate it</code>
                </li>
                <li class="response-li">
                    <code>Navigate to the <b style="color: #fbaeae;">api</b> directory and run <b style="color: #fbaeae;">flask --app index.py run</b></code>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}